### Exploratory Data Analysis

In [39]:
import pandas as pd
import numpy as np

In [40]:
dic3={'Items':('Chicken Roll','Chatni Roll','Samosa','Zinger','Chicken Burger','Tikka'),'Quantity':(3,4,2,5,1,3),'Rate':(120,100,30,250,150,250),'Price':(360,400,60,1250,150,750)}
dataframe2=pd.DataFrame(dic3)
dataframe2

            Items  Quantity  Rate  Price
0    Chicken Roll         3   120    360
1     Chatni Roll         4   100    400
2          Samosa         2    30     60
3          Zinger         5   250   1250
4  Chicken Burger         1   150    150
5           Tikka         3   250    750

In [41]:
list2=[['Pant','Levis','1500'],['Shirt','Dockers','1000'],['Socks','Calvin Klein','300'],['Cap','Santso','800']]
dataframe14=pd.DataFrame(list2, columns=['Item','Brand','Rate'])
dataframe14

    Item         Brand  Rate
0   Pant         Levis  1500
1  Shirt       Dockers  1000
2  Socks  Calvin Klein   300
3    Cap        Santso   800

In [42]:
dataframe14.to_csv('munir.csv')

In [43]:
dataframe2.to_csv('munir2.csv')

In [44]:
Data=pd.read_csv('waether_by_cities.csv')

In [45]:
Data

          day      city  temperature  windspeed   event
0   1/28/2020  new york         32.0        6.0   rain
1   1/29/2020  new york         36.0        7.0   sunny
2   1/30/2020  new york         28.0       12.0    snow
3   1/31/2020  new york         33.0        7.0   sunny
4    2/1/2020    mumbai         90.0        5.0   sunny
5    2/2/2020    mumbai         85.0       12.0     fog
6    2/3/2020    mumbai         87.0       15.0     fog
7    2/4/2020    mumbai         92.0        5.0   rain
8    2/5/2020     paris         45.0       20.0   sunny
9    2/6/2020     paris         50.0       13.0  cloudy
10   2/7/2020     paris          NaN        8.0  cloudy
11   2/8/2020     paris         42.0       10.0     NaN
12        NaN       NaN          NaN        NaN     NaN
13        NaN       NaN          NaN        NaN     NaN
14        NaN       NaN          NaN        NaN     NaN
15        NaN       NaN          NaN        NaN     NaN
16        NaN       NaN          NaN        NaN     NaN
17        NaN       NaN          NaN        NaN     NaN
18        NaN       NaN          NaN        NaN     NaN
19        NaN       NaN          NaN        NaN     NaN

In [46]:
Data.loc[15,'windspeed']

nan

In [47]:
Data.iloc[5,3]

12.0

In [48]:
Data.iloc[3,:]

day            1/31/2020
city            new york
temperature         33.0
windspeed            7.0
event              sunny
Name: 3, dtype: object

In [49]:
Data.loc[5,['day','city']]

day     2/2/2020
city      mumbai
Name: 5, dtype: object

In [50]:
Data.loc[[3,5,6,7],'event']

3    sunny
5      fog
6      fog
7    rain
Name: event, dtype: object

#### EDA

In [51]:
import pandas as pd
import numpy as np

In [52]:
df=pd.read_csv('waether_by_cities.csv')

In [53]:
df

          day      city  temperature  windspeed   event
0   1/28/2020  new york         32.0        6.0   rain
1   1/29/2020  new york         36.0        7.0   sunny
2   1/30/2020  new york         28.0       12.0    snow
3   1/31/2020  new york         33.0        7.0   sunny
4    2/1/2020    mumbai         90.0        5.0   sunny
5    2/2/2020    mumbai         85.0       12.0     fog
6    2/3/2020    mumbai         87.0       15.0     fog
7    2/4/2020    mumbai         92.0        5.0   rain
8    2/5/2020     paris         45.0       20.0   sunny
9    2/6/2020     paris         50.0       13.0  cloudy
10   2/7/2020     paris          NaN        8.0  cloudy
11   2/8/2020     paris         42.0       10.0     NaN
12        NaN       NaN          NaN        NaN     NaN
13        NaN       NaN          NaN        NaN     NaN
14        NaN       NaN          NaN        NaN     NaN
15        NaN       NaN          NaN        NaN     NaN
16        NaN       NaN          NaN        NaN     NaN
17        NaN       NaN          NaN        NaN     NaN
18        NaN       NaN          NaN        NaN     NaN
19        NaN       NaN          NaN        NaN     NaN

In [54]:
df.count()

day            12
city           12
temperature    11
windspeed      12
event          11
dtype: int64

In [55]:
df.dtypes

day             object
city            object
temperature    float64
windspeed      float64
event           object
dtype: object

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          12 non-null     object
 1   city         12 non-null     object
 2   temperature  11 non-null     float64
 3   windspeed    12 non-null     float64
 4   event        11 non-null     object
dtypes: float64(2), object(3)
memory usage: 928.0+ bytes

In [57]:
df.shape

(20, 5)

In [58]:
df.size

100

### H.W. Task
- set index
- drop
- columns

In [59]:
df.set_index('day')

               city  temperature  windspeed   event
day
1/28/2020  new york         32.0        6.0   rain
1/29/2020  new york         36.0        7.0   sunny
1/30/2020  new york         28.0       12.0    snow
1/31/2020  new york         33.0        7.0   sunny
2/1/2020     mumbai         90.0        5.0   sunny
2/2/2020     mumbai         85.0       12.0     fog
2/3/2020     mumbai         87.0       15.0     fog
2/4/2020     mumbai         92.0        5.0   rain
2/5/2020      paris         45.0       20.0   sunny
2/6/2020      paris         50.0       13.0  cloudy
2/7/2020      paris          NaN        8.0  cloudy
2/8/2020      paris         42.0       10.0     NaN
NaN             NaN          NaN        NaN     NaN
NaN             NaN          NaN        NaN     NaN
NaN             NaN          NaN        NaN     NaN
NaN             NaN          NaN        NaN     NaN
NaN             NaN          NaN        NaN     NaN
NaN             NaN          NaN        NaN     NaN
NaN             NaN          NaN        NaN     NaN
NaN             NaN          NaN        NaN     NaN

In [60]:
df.drop(13)

          day      city  temperature  windspeed   event
0   1/28/2020  new york         32.0        6.0   rain
1   1/29/2020  new york         36.0        7.0   sunny
2   1/30/2020  new york         28.0       12.0    snow
3   1/31/2020  new york         33.0        7.0   sunny
4    2/1/2020    mumbai         90.0        5.0   sunny
5    2/2/2020    mumbai         85.0       12.0     fog
6    2/3/2020    mumbai         87.0       15.0     fog
7    2/4/2020    mumbai         92.0        5.0   rain
8    2/5/2020     paris         45.0       20.0   sunny
9    2/6/2020     paris         50.0       13.0  cloudy
10   2/7/2020     paris          NaN        8.0  cloudy
11   2/8/2020     paris         42.0       10.0     NaN
12        NaN       NaN          NaN        NaN     NaN
14        NaN       NaN          NaN        NaN     NaN
15        NaN       NaN          NaN        NaN     NaN
16        NaN       NaN          NaN        NaN     NaN
17        NaN       NaN          NaN        NaN     NaN
18        NaN       NaN          NaN        NaN     NaN
19        NaN       NaN          NaN        NaN     NaN

In [61]:
df.drop(12)

          day      city  temperature  windspeed   event
0   1/28/2020  new york         32.0        6.0   rain
1   1/29/2020  new york         36.0        7.0   sunny
2   1/30/2020  new york         28.0       12.0    snow
3   1/31/2020  new york         33.0        7.0   sunny
4    2/1/2020    mumbai         90.0        5.0   sunny
5    2/2/2020    mumbai         85.0       12.0     fog
6    2/3/2020    mumbai         87.0       15.0     fog
7    2/4/2020    mumbai         92.0        5.0   rain
8    2/5/2020     paris         45.0       20.0   sunny
9    2/6/2020     paris         50.0       13.0  cloudy
10   2/7/2020     paris          NaN        8.0  cloudy
11   2/8/2020     paris         42.0       10.0     NaN
13        NaN       NaN          NaN        NaN     NaN
14        NaN       NaN          NaN        NaN     NaN
15        NaN       NaN          NaN        NaN     NaN
16        NaN       NaN          NaN        NaN     NaN
17        NaN       NaN          NaN        NaN     NaN
18        NaN       NaN          NaN        NaN     NaN
19        NaN       NaN          NaN        NaN     NaN

In [62]:
df.drop(14)

          day      city  temperature  windspeed   event
0   1/28/2020  new york         32.0        6.0   rain
1   1/29/2020  new york         36.0        7.0   sunny
2   1/30/2020  new york         28.0       12.0    snow
3   1/31/2020  new york         33.0        7.0   sunny
4    2/1/2020    mumbai         90.0        5.0   sunny
5    2/2/2020    mumbai         85.0       12.0     fog
6    2/3/2020    mumbai         87.0       15.0     fog
7    2/4/2020    mumbai         92.0        5.0   rain
8    2/5/2020     paris         45.0       20.0   sunny
9    2/6/2020     paris         50.0       13.0  cloudy
10   2/7/2020     paris          NaN        8.0  cloudy
11   2/8/2020     paris         42.0       10.0     NaN
12        NaN       NaN          NaN        NaN     NaN
13        NaN       NaN          NaN        NaN     NaN
15        NaN       NaN          NaN        NaN     NaN
16        NaN       NaN          NaN        NaN     NaN
17        NaN       NaN          NaN        NaN     NaN
18        NaN       NaN          NaN        NaN     NaN
19        NaN       NaN          NaN        NaN     NaN

In [63]:
df.columns

Index(['day', 'city', 'temperature', 'windspeed', 'event'], dtype='object')

In [64]:
df.set_index('event')

              day      city  temperature  windspeed
event
rain    1/28/2020  new york         32.0        6.0
sunny   1/29/2020  new york         36.0        7.0
snow    1/30/2020  new york         28.0       12.0
sunny   1/31/2020  new york         33.0        7.0
sunny    2/1/2020    mumbai         90.0        5.0
fog      2/2/2020    mumbai         85.0       12.0
fog      2/3/2020    mumbai         87.0       15.0
rain     2/4/2020    mumbai         92.0        5.0
sunny    2/5/2020     paris         45.0       20.0
cloudy   2/6/2020     paris         50.0       13.0
cloudy   2/7/2020     paris          NaN        8.0
NaN      2/8/2020     paris         42.0       10.0
NaN           NaN       NaN          NaN        NaN
NaN           NaN       NaN          NaN        NaN
NaN           NaN       NaN          NaN        NaN
NaN           NaN       NaN          NaN        NaN
NaN           NaN       NaN          NaN        NaN
NaN           NaN       NaN          NaN        NaN
NaN           NaN       NaN          NaN        NaN
NaN           NaN       NaN          NaN        NaN

In [65]:
df.dtypes

day             object
city            object
temperature    float64
windspeed      float64
event           object
dtype: object

In [66]:
df.size

100

In [67]:
df.shape

(20, 5)

In [68]:
df.drop(5)

          day      city  temperature  windspeed   event
0   1/28/2020  new york         32.0        6.0   rain
1   1/29/2020  new york         36.0        7.0   sunny
2   1/30/2020  new york         28.0       12.0    snow
3   1/31/2020  new york         33.0        7.0   sunny
4    2/1/2020    mumbai         90.0        5.0   sunny
6    2/3/2020    mumbai         87.0       15.0     fog
7    2/4/2020    mumbai         92.0        5.0   rain
8    2/5/2020     paris         45.0       20.0   sunny
9    2/6/2020     paris         50.0       13.0  cloudy
10   2/7/2020     paris          NaN        8.0  cloudy
11   2/8/2020     paris         42.0       10.0     NaN
12        NaN       NaN          NaN        NaN     NaN
13        NaN       NaN          NaN        NaN     NaN
14        NaN       NaN          NaN        NaN     NaN
15        NaN       NaN          NaN        NaN     NaN
16        NaN       NaN          NaN        NaN     NaN
17        NaN       NaN          NaN        NaN     NaN
18        NaN       NaN          NaN        NaN     NaN
19        NaN       NaN          NaN        NaN     NaN

In [69]:
df1=df.drop('city',axis=1)
df1

          day  temperature  windspeed   event
0   1/28/2020         32.0        6.0   rain
1   1/29/2020         36.0        7.0   sunny
2   1/30/2020         28.0       12.0    snow
3   1/31/2020         33.0        7.0   sunny
4    2/1/2020         90.0        5.0   sunny
5    2/2/2020         85.0       12.0     fog
6    2/3/2020         87.0       15.0     fog
7    2/4/2020         92.0        5.0   rain
8    2/5/2020         45.0       20.0   sunny
9    2/6/2020         50.0       13.0  cloudy
10   2/7/2020          NaN        8.0  cloudy
11   2/8/2020         42.0       10.0     NaN
12        NaN          NaN        NaN     NaN
13        NaN          NaN        NaN     NaN
14        NaN          NaN        NaN     NaN
15        NaN          NaN        NaN     NaN
16        NaN          NaN        NaN     NaN
17        NaN          NaN        NaN     NaN
18        NaN          NaN        NaN     NaN
19        NaN          NaN        NaN     NaN

In [70]:
df1.head(7)

         day  temperature  windspeed  event
0  1/28/2020         32.0        6.0  rain
1  1/29/2020         36.0        7.0  sunny
2  1/30/2020         28.0       12.0   snow
3  1/31/2020         33.0        7.0  sunny
4   2/1/2020         90.0        5.0  sunny
5   2/2/2020         85.0       12.0    fog
6   2/3/2020         87.0       15.0    fog

In [71]:
df.drop('temperature',axis=1,inplace=True)
df

          day      city  windspeed   event
0   1/28/2020  new york        6.0   rain
1   1/29/2020  new york        7.0   sunny
2   1/30/2020  new york       12.0    snow
3   1/31/2020  new york        7.0   sunny
4    2/1/2020    mumbai        5.0   sunny
5    2/2/2020    mumbai       12.0     fog
6    2/3/2020    mumbai       15.0     fog
7    2/4/2020    mumbai        5.0   rain
8    2/5/2020     paris       20.0   sunny
9    2/6/2020     paris       13.0  cloudy
10   2/7/2020     paris        8.0  cloudy
11   2/8/2020     paris       10.0     NaN
12        NaN       NaN        NaN     NaN
13        NaN       NaN        NaN     NaN
14        NaN       NaN        NaN     NaN
15        NaN       NaN        NaN     NaN
16        NaN       NaN        NaN     NaN
17        NaN       NaN        NaN     NaN
18        NaN       NaN        NaN     NaN
19        NaN       NaN        NaN     NaN

In [72]:
df

          day      city  windspeed   event
0   1/28/2020  new york        6.0   rain
1   1/29/2020  new york        7.0   sunny
2   1/30/2020  new york       12.0    snow
3   1/31/2020  new york        7.0   sunny
4    2/1/2020    mumbai        5.0   sunny
5    2/2/2020    mumbai       12.0     fog
6    2/3/2020    mumbai       15.0     fog
7    2/4/2020    mumbai        5.0   rain
8    2/5/2020     paris       20.0   sunny
9    2/6/2020     paris       13.0  cloudy
10   2/7/2020     paris        8.0  cloudy
11   2/8/2020     paris       10.0     NaN
12        NaN       NaN        NaN     NaN
13        NaN       NaN        NaN     NaN
14        NaN       NaN        NaN     NaN
15        NaN       NaN        NaN     NaN
16        NaN       NaN        NaN     NaN
17        NaN       NaN        NaN     NaN
18        NaN       NaN        NaN     NaN
19        NaN       NaN        NaN     NaN

In [73]:
df.groupby('city').sum()

          windspeed
city
mumbai         37.0
new york       32.0
paris          51.0

Categorical => male,female
Ordinal => 1,2,3 | small,medium,large

3 Techniques
1. Label Encoder
2. One hot Encoding
3. Get_dummies

In [74]:
pd.get_dummies(df['event'])
#ismay ye har event keliay alag alag column bana raha hai

    cloudy  fog  rain   snow  sunny
0        0    0      1     0      0
1        0    0      0     0      1
2        0    0      0     1      0
3        0    0      0     0      1
4        0    0      0     0      1
5        0    1      0     0      0
6        0    1      0     0      0
7        0    0      1     0      0
8        0    0      0     0      1
9        1    0      0     0      0
10       1    0      0     0      0
11       0    0      0     0      0
12       0    0      0     0      0
13       0    0      0     0      0
14       0    0      0     0      0
15       0    0      0     0      0
16       0    0      0     0      0
17       0    0      0     0      0
18       0    0      0     0      0
19       0    0      0     0      0

In [75]:
d=pd.get_dummies(df['event'])
d.head()

   cloudy  fog  rain   snow  sunny
0       0    0      1     0      0
1       0    0      0     0      1
2       0    0      0     1      0
3       0    0      0     0      1
4       0    0      0     0      1

In [76]:
df['city']=pd.get_dummies(df['city'])

ValueError: Columns must be same length as key

In [ ]:
df

          day      city  windspeed   event
0   1/28/2020  new york        6.0   rain
1   1/29/2020  new york        7.0   sunny
2   1/30/2020  new york       12.0    snow
3   1/31/2020  new york        7.0   sunny
4    2/1/2020    mumbai        5.0   sunny
5    2/2/2020    mumbai       12.0     fog
6    2/3/2020    mumbai       15.0     fog
7    2/4/2020    mumbai        5.0   rain
8    2/5/2020     paris       20.0   sunny
9    2/6/2020     paris       13.0  cloudy
10   2/7/2020     paris        8.0  cloudy
11   2/8/2020     paris       10.0     NaN
12        NaN       NaN        NaN     NaN
13        NaN       NaN        NaN     NaN
14        NaN       NaN        NaN     NaN
15        NaN       NaN        NaN     NaN
16        NaN       NaN        NaN     NaN
17        NaN       NaN        NaN     NaN
18        NaN       NaN        NaN     NaN
19        NaN       NaN        NaN     NaN

In [ ]:
df.replace(12,7)

          day      city  windspeed   event
0   1/28/2020  new york        6.0   rain
1   1/29/2020  new york        7.0   sunny
2   1/30/2020  new york        7.0    snow
3   1/31/2020  new york        7.0   sunny
4    2/1/2020    mumbai        5.0   sunny
5    2/2/2020    mumbai        7.0     fog
6    2/3/2020    mumbai       15.0     fog
7    2/4/2020    mumbai        5.0   rain
8    2/5/2020     paris       20.0   sunny
9    2/6/2020     paris       13.0  cloudy
10   2/7/2020     paris        8.0  cloudy
11   2/8/2020     paris       10.0     NaN
12        NaN       NaN        NaN     NaN
13        NaN       NaN        NaN     NaN
14        NaN       NaN        NaN     NaN
15        NaN       NaN        NaN     NaN
16        NaN       NaN        NaN     NaN
17        NaN       NaN        NaN     NaN
18        NaN       NaN        NaN     NaN
19        NaN       NaN        NaN     NaN

In [ ]:
df.replace('new york','mumbai')

          day    city  windspeed   event
0   1/28/2020  mumbai        6.0   rain
1   1/29/2020  mumbai        7.0   sunny
2   1/30/2020  mumbai       12.0    snow
3   1/31/2020  mumbai        7.0   sunny
4    2/1/2020  mumbai        5.0   sunny
5    2/2/2020  mumbai       12.0     fog
6    2/3/2020  mumbai       15.0     fog
7    2/4/2020  mumbai        5.0   rain
8    2/5/2020   paris       20.0   sunny
9    2/6/2020   paris       13.0  cloudy
10   2/7/2020   paris        8.0  cloudy
11   2/8/2020   paris       10.0     NaN
12        NaN     NaN        NaN     NaN
13        NaN     NaN        NaN     NaN
14        NaN     NaN        NaN     NaN
15        NaN     NaN        NaN     NaN
16        NaN     NaN        NaN     NaN
17        NaN     NaN        NaN     NaN
18        NaN     NaN        NaN     NaN
19        NaN     NaN        NaN     NaN

In [ ]:
df.rename(columns={'city':'cities'})

          day    cities  windspeed   event
0   1/28/2020  new york        6.0   rain
1   1/29/2020  new york        7.0   sunny
2   1/30/2020  new york       12.0    snow
3   1/31/2020  new york        7.0   sunny
4    2/1/2020    mumbai        5.0   sunny
5    2/2/2020    mumbai       12.0     fog
6    2/3/2020    mumbai       15.0     fog
7    2/4/2020    mumbai        5.0   rain
8    2/5/2020     paris       20.0   sunny
9    2/6/2020     paris       13.0  cloudy
10   2/7/2020     paris        8.0  cloudy
11   2/8/2020     paris       10.0     NaN
12        NaN       NaN        NaN     NaN
13        NaN       NaN        NaN     NaN
14        NaN       NaN        NaN     NaN
15        NaN       NaN        NaN     NaN
16        NaN       NaN        NaN     NaN
17        NaN       NaN        NaN     NaN
18        NaN       NaN        NaN     NaN
19        NaN       NaN        NaN     NaN

In [ ]:
df.drop_duplicates('city')

          day      city  windspeed  event
0   1/28/2020  new york        6.0  rain
4    2/1/2020    mumbai        5.0  sunny
8    2/5/2020     paris       20.0  sunny
12        NaN       NaN        NaN    NaN

In [ ]:
df.describe()

       windspeed
count  12.000000
mean   10.000000
std     4.572646
min     5.000000
25%     6.750000
50%     9.000000
75%    12.250000
max    20.000000

## Data Wrangling
- Remove
- Fill with 0
- set_index()

In [ ]:
data=pd.read_csv('waether_by_cities.csv')
data

          day      city  temperature  windspeed   event
0   1/28/2020  new york         32.0        6.0   rain
1   1/29/2020  new york         36.0        7.0   sunny
2   1/30/2020  new york         28.0       12.0    snow
3   1/31/2020  new york         33.0        7.0   sunny
4    2/1/2020    mumbai         90.0        5.0   sunny
5    2/2/2020    mumbai         85.0       12.0     fog
6    2/3/2020    mumbai         87.0       15.0     fog
7    2/4/2020    mumbai         92.0        5.0   rain
8    2/5/2020     paris         45.0       20.0   sunny
9    2/6/2020     paris         50.0       13.0  cloudy
10   2/7/2020     paris          NaN        8.0  cloudy
11   2/8/2020     paris         42.0       10.0     NaN
12        NaN       NaN          NaN        NaN     NaN
13        NaN       NaN          NaN        NaN     NaN
14        NaN       NaN          NaN        NaN     NaN
15        NaN       NaN          NaN        NaN     NaN
16        NaN       NaN          NaN        NaN     NaN
17        NaN       NaN          NaN        NaN     NaN
18        NaN       NaN          NaN        NaN     NaN
19        NaN       NaN          NaN        NaN     NaN

In [ ]:
data.size

100

In [ ]:
data.dropna()

         day      city  temperature  windspeed   event
0  1/28/2020  new york         32.0        6.0   rain
1  1/29/2020  new york         36.0        7.0   sunny
2  1/30/2020  new york         28.0       12.0    snow
3  1/31/2020  new york         33.0        7.0   sunny
4   2/1/2020    mumbai         90.0        5.0   sunny
5   2/2/2020    mumbai         85.0       12.0     fog
6   2/3/2020    mumbai         87.0       15.0     fog
7   2/4/2020    mumbai         92.0        5.0   rain
8   2/5/2020     paris         45.0       20.0   sunny
9   2/6/2020     paris         50.0       13.0  cloudy

In [ ]:
data.fillna('missing') #fill null values with zero

          day      city temperature windspeed    event
0   1/28/2020  new york        32.0       6.0    rain
1   1/29/2020  new york        36.0       7.0    sunny
2   1/30/2020  new york        28.0      12.0     snow
3   1/31/2020  new york        33.0       7.0    sunny
4    2/1/2020    mumbai        90.0       5.0    sunny
5    2/2/2020    mumbai        85.0      12.0      fog
6    2/3/2020    mumbai        87.0      15.0      fog
7    2/4/2020    mumbai        92.0       5.0    rain
8    2/5/2020     paris        45.0      20.0    sunny
9    2/6/2020     paris        50.0      13.0   cloudy
10   2/7/2020     paris     missing       8.0   cloudy
11   2/8/2020     paris        42.0      10.0  missing
12    missing   missing     missing   missing  missing
13    missing   missing     missing   missing  missing
14    missing   missing     missing   missing  missing
15    missing   missing     missing   missing  missing
16    missing   missing     missing   missing  missing
17    missing   missing     missing   missing  missing
18    missing   missing     missing   missing  missing
19    missing   missing     missing   missing  missing

In [ ]:
data.fillna(method='ffill') #ye sari null values ko fill karega jo last value hogi foward filling karta jaega

          day      city  temperature  windspeed   event
0   1/28/2020  new york         32.0        6.0   rain
1   1/29/2020  new york         36.0        7.0   sunny
2   1/30/2020  new york         28.0       12.0    snow
3   1/31/2020  new york         33.0        7.0   sunny
4    2/1/2020    mumbai         90.0        5.0   sunny
5    2/2/2020    mumbai         85.0       12.0     fog
6    2/3/2020    mumbai         87.0       15.0     fog
7    2/4/2020    mumbai         92.0        5.0   rain
8    2/5/2020     paris         45.0       20.0   sunny
9    2/6/2020     paris         50.0       13.0  cloudy
10   2/7/2020     paris         50.0        8.0  cloudy
11   2/8/2020     paris         42.0       10.0  cloudy
12   2/8/2020     paris         42.0       10.0  cloudy
13   2/8/2020     paris         42.0       10.0  cloudy
14   2/8/2020     paris         42.0       10.0  cloudy
15   2/8/2020     paris         42.0       10.0  cloudy
16   2/8/2020     paris         42.0       10.0  cloudy
17   2/8/2020     paris         42.0       10.0  cloudy
18   2/8/2020     paris         42.0       10.0  cloudy
19   2/8/2020     paris         42.0       10.0  cloudy

In [ ]:
data.ffill()

          day      city  temperature  windspeed   event
0   1/28/2020  new york         32.0        6.0   rain
1   1/29/2020  new york         36.0        7.0   sunny
2   1/30/2020  new york         28.0       12.0    snow
3   1/31/2020  new york         33.0        7.0   sunny
4    2/1/2020    mumbai         90.0        5.0   sunny
5    2/2/2020    mumbai         85.0       12.0     fog
6    2/3/2020    mumbai         87.0       15.0     fog
7    2/4/2020    mumbai         92.0        5.0   rain
8    2/5/2020     paris         45.0       20.0   sunny
9    2/6/2020     paris         50.0       13.0  cloudy
10   2/7/2020     paris         50.0        8.0  cloudy
11   2/8/2020     paris         42.0       10.0  cloudy
12   2/8/2020     paris         42.0       10.0  cloudy
13   2/8/2020     paris         42.0       10.0  cloudy
14   2/8/2020     paris         42.0       10.0  cloudy
15   2/8/2020     paris         42.0       10.0  cloudy
16   2/8/2020     paris         42.0       10.0  cloudy
17   2/8/2020     paris         42.0       10.0  cloudy
18   2/8/2020     paris         42.0       10.0  cloudy
19   2/8/2020     paris         42.0       10.0  cloudy

In [ ]:
data.fillna(method='bfill')

          day      city  temperature  windspeed   event
0   1/28/2020  new york         32.0        6.0   rain
1   1/29/2020  new york         36.0        7.0   sunny
2   1/30/2020  new york         28.0       12.0    snow
3   1/31/2020  new york         33.0        7.0   sunny
4    2/1/2020    mumbai         90.0        5.0   sunny
5    2/2/2020    mumbai         85.0       12.0     fog
6    2/3/2020    mumbai         87.0       15.0     fog
7    2/4/2020    mumbai         92.0        5.0   rain
8    2/5/2020     paris         45.0       20.0   sunny
9    2/6/2020     paris         50.0       13.0  cloudy
10   2/7/2020     paris         42.0        8.0  cloudy
11   2/8/2020     paris         42.0       10.0     NaN
12        NaN       NaN          NaN        NaN     NaN
13        NaN       NaN          NaN        NaN     NaN
14        NaN       NaN          NaN        NaN     NaN
15        NaN       NaN          NaN        NaN     NaN
16        NaN       NaN          NaN        NaN     NaN
17        NaN       NaN          NaN        NaN     NaN
18        NaN       NaN          NaN        NaN     NaN
19        NaN       NaN          NaN        NaN     NaN

In [ ]:
data.sort_index(0) #

C:\Users\gulmu\AppData\Local\Temp\ipykernel_7704\3427534342.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_index will be keyword-only.
  data.sort_index(0)

          day      city  temperature  windspeed   event
0   1/28/2020  new york         32.0        6.0   rain
1   1/29/2020  new york         36.0        7.0   sunny
2   1/30/2020  new york         28.0       12.0    snow
3   1/31/2020  new york         33.0        7.0   sunny
4    2/1/2020    mumbai         90.0        5.0   sunny
5    2/2/2020    mumbai         85.0       12.0     fog
6    2/3/2020    mumbai         87.0       15.0     fog
7    2/4/2020    mumbai         92.0        5.0   rain
8    2/5/2020     paris         45.0       20.0   sunny
9    2/6/2020     paris         50.0       13.0  cloudy
10   2/7/2020     paris          NaN        8.0  cloudy
11   2/8/2020     paris         42.0       10.0     NaN
12        NaN       NaN          NaN        NaN     NaN
13        NaN       NaN          NaN        NaN     NaN
14        NaN       NaN          NaN        NaN     NaN
15        NaN       NaN          NaN        NaN     NaN
16        NaN       NaN          NaN        NaN     NaN
17        NaN       NaN          NaN        NaN     NaN
18        NaN       NaN          NaN        NaN     NaN
19        NaN       NaN          NaN        NaN     NaN

[3, 4, 10, 19, 200, 300]

### std
- How Standard Deviation works and what is Standard Deviation..iskay eechay ki poori Kahani parh kar ana

### Pandas Graphs
- Chart Visualization
- basic Plotting : plot()

- ‘bar’ or ‘barh’ for bar plots

- ‘hist’ for histogram

- ‘box’ for boxplot

- ‘kde’ or ‘density’ for density plots

- ‘area’ for area plots

- ‘scatter’ for scatter plots

- ‘hexbin’ for hexagonal bin plots

- ‘pie’ for pie plots

### Matplotlib Graphs
- Bar Graph
- Pie Chart
- Box Plot
- Histogram
- Line Chart and Subplots
- Scatter Plot

### Seaborn Graphs
#### Distribution Plots
-  Dist-Plot
-  Joint Plot
-  Pair Plot
-  Rug Plot
#### Categorical Plots
-   Bar Plot
-   Count Plot
-   Box Plot
-   Violin Plot
#### Advanced Plots
-   Strip Plot
-   Swarm Plot
#### Matrix Plots
-   Heat Map
-   Cluster Map
#### Grids
-   Facet Grid
#### Regression Plots
-   lmplot

In [4]:
#a=int(input('Enter something: '))
a=55
b=type(a)
print('type: ',b)
if b==type(a):
    print('Good')
else:
    print('Enter an Integer')

type:  <class 'str'>
Good